[Application]
name=VerifyPad
version=1.0
# How to launch the app - this calls the 'main' function from the 'myapp' package:
entry_point=main:main
icon=myapp.ico

[Python]
version=3.12.10

[Include]
# Packages from PyPI that your application requires, one per line
# These must have wheels on PyPI:
pypi_wheels = pyautogui==0.9.54
    pyserial==3.5
    imap-reader==1.0.3


# To bundle packages which don't publish wheels, or to include directly wheel files
# from a directory, see the docs on the config file.

# Other files and folders that should be installed
files =